name: Test Coveralls
on:
  push:
    tags: [v*.*.*]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.0

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests and generate coverage report
        run: |
          go test -v -coverprofile=coverage.out ./...
          go tool cover -func=coverage.out

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          file: coverage.out
